<div class="admin-top-container-shell">

    <div class="admin-top-container-left-shell">
        <div class="admin-top-container-left-top-date-shell">
            <div>
                <svg fill="#FFFFFF" height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z" />
                    <path d="M0-.5h24v24H0z" fill="none" />
                </svg>
            </div>
            <div class="admin-top-container-left-top-date">Current Date</div>
            <div>
                <svg fill="#FFFFFF" height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
                    <path d="M0-.25h24v24H0z" fill="none" />
                </svg>
            </div>
        </div>
        <div class="admin-top-container-left-loggeduser-shell">

        </div>
    </div>

    <div class="admin-top-container-right-shell">
        <div class="admin-top-container-right-left-shell">
            <div class="admin-top-container-right-left-name">Juston Perkins</div>
            <div class="admin-top-container-right-left-time">Time Logged</div>
            <div class="admin-top-container-right-left-trainer">Trainer</div>
        </div>
        <div class="admin-top-container-right-right-shell">
            <div class="admin-top-container-right-right-image">
                <button class="picture-button">
                    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 15" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </button>
            </div>
            <button class="see-waiver">Waiver</button>
        </div>
    </div>
</div>

<div class="admin-bottom-container-shell">
    <div class="admin-middle-border">
        INFORMATION
    </div>
    <div class="admin-bottom-inner-container-shell">
        <div class="admin-bottom-inner-left-shell">
            <div class="admin-bottom-user-info">Firstname</div>
            <div class="admin-bottom-user-info">Lastname</div>
            <div class="admin-bottom-user-info">Email</div>
            <div class="admin-bottom-user-info">Phone #</div>
            <div class="admin-bottom-user-info">Address</div>
            <div class="admin-bottom-user-info">City</div>
            <div class="admin-bottom-user-info">Zip</div>
            <div class="admin-bottom-user-info">Password</div>
        </div>
        <div class="admin-bottom-inner-right-shell">
            <div class="admin-bottom-user-info-right">Other</div>
            <div class="other-comments"></div>
        </div>
    </div>
</div>