<div class="login-main-container">
        <div class="login-signin-container">
            <div class="login-signin-text">
                <strong>Admin Check</strong>
            </div>
        </div>
    
        <form ng-submit='adminPermission(secret_key)'>
            <div class="login-form-username-container">
                <div class="login-form-username-text">Secret</div>
                <input id="username-input" type="text" ng-model="secret_key" placeholder="Secret Key" required>
            </div>
    
            <div class="submit-login">
                <button id="button-text" type="submit"><strong>Check</strong></button>
            </div>
        </form>
    
       
    
    </div>