<div class="admin-outer-container">
    <div class="admin-bottom-half">
        <div class="admin-bottom-half-top-bar">
            <div class="admin-tab-account">
                <p id="admin-tab-text">Account management</p>
            </div>
        </div>
        <div class="admin-bottom-half-top-bar-list">
            <div class="admin-bottom-half-top-bar-list-container">
                <p style="right:26px" id="user-bottom-half-top-bar-list-text">Date</p>
                <p style="right:32px" id="user-bottom-half-top-bar-list-text">Trainer</p>
                <p style="right:41px" id="user-bottom-half-top-bar-list-text">Time</p>
                <p style="right:41px" id="user-bottom-half-top-bar-list-text">Session</p>
                <p style="right:41px" id="user-bottom-half-top-bar-list-text">Payment</p>
            </div>
        </div>
        <div class="admin-bottom-half-top-bar-list-info">
            <div class="admin-bottom-half-top-bar-list-info-text-container" ng-repeat="n in new track by $index">
                <div class="admin-bottom-half-top-bar-list-info-text">{{n.next_class}}</div>
                <div class="admin-bottom-half-top-bar-list-info-text-one">{{n.username}}</div>
                <div class="admin-bottom-half-top-bar-list-info-text-two">{{n.next_time}}</div>
                <div class="admin-bottom-half-top-bar-list-info-text-three">{{n.next_session}}</div>
                <div class="admin-bottom-half-top-bar-list-info-text-four">{{n.payment}}</div>
                <div style="display: flex; width: 127px; margin: auto">
                    <div class="edit">
                        <svg xmlns="http://www.w3.org/2000/svg" ui-sref="changesession" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                            />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                    </div>
                    <div class="delete">
                        <svg xmlns="http://www.w3.org/2000/svg" ng-click="cancelAdminSessions(n.id)" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                            <div ng-repeat="n in new track by $index"></div>
                        </svg>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" ng-click="adminPayment(n.id)" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"
                            />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                    </div>
                </div>
                <div ng-show="unpaidSessions" class="notPaid">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#FF0000" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"
                        />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </div>
                <div ng-show="paidSessions" class="Paid">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
                        />
                    </svg>
                </div>
            </div>
        </div>

        <div class="unpaid-sessions-container" ng-if="showUnpaid">
            <div class="unpaid-sessions-container-payment">
                <div style="display: flex">
                    <div ng-repeat="u in unpaidSesh track by $index" class="unpaid-sessions-container-payment-inner-box">
                        <div>{{u.username}}</div>
                        <div>{{u.next_class}}</div>
                        <div>{{u.next_time}}</div>
                        <div>{{u.payment}}</div>
                    </div>
                </div>
            </div>
            <div class="pay-all-container">
                <div>
                    <p>{{unpaid}} Collections</p>
                    <p>${{total}}</p>
                </div>
            </div>
            <div class="unpaid-pay-all">
                <button ng-click="showUnpaidList();hideLogoutOne()" style="font-size: 30px; color: white" type="button">Go back</button>
            </div>
        </div>

        <div style="display: flex" ng-if="hideLogout">
            <div class="admin-paid-session-container">
                <div class="admin-paid-session-container-text">{{paid}}</div>
            </div>
            <div id="admin-paid-session-text">Paid sessions</div>
        </div>

        <div style="display: flex" ng-click="hideLogoutOne();showUnpaidList()" ng-if="hideLogout">
            <div class="admin-not-paid-session-container">
                <div class="admin-paid-session-container-text">{{unpaid}}</div>
            </div>
            <div id="admin-unpaid-session-text">Unpaid sessions</div>
        </div>

        <div class="admin-logout-button" ng-if="hideLogout">
            <button class="admin-top-half-change-button-container">
                <p ng-click="logout()" id="admin-top-half-logout-button-text">Logout</p>
            </button>
        </div>
    </div>