<div class="newform-user-outer-shell">
    <div class="newform-user-inner-top-shell">
        <div class="newform-user-inner-top-shell-text-holder">
            <p id="newform-user-inner-top-text-left">NEW ADMIN FORM</p>
        </div>
    </div>
    <form>
        <div class="newform-user-inner-bottom-shell">
            <div class="newform-user-inner-bottom-left-shell">
                <input class="font-look form-control" id="new-user" type="text" ng-model="user.username" placeholder="First name" data-name="username"required>
                <input class="font-look form-control" type="text" ng-model="user.lastname" placeholder="Last name" data-name="lastname" required>
                <input class="font-look form-control" type="email" ng-model="user.email" placeholder="Email">
                <input class="font-look form-control" type="password" ng-model="user.password" placeholder="Password">
                <input class="font-look form-control" type="text" ng-model="user.birth_date" placeholder="DOB">
                <input class="font-look form-control" type="text" ng-model="user.phone" placeholder="Phone #">
            </div>

            <div class="verticle-line"></div>

            <div class="newform-user-inner-bottom-right-shell">
                <input class=" font-look form-control" type="text" ng-model="user.clientaddress" placeholder="Address">
                <input class=" font-look form-control" type="text" ng-model="user.city" placeholder="City">
                <input class=" font-look form-control" type="text" ng-model="user.zip" placeholder="Zip">
            </div>
        </div>
        <div style="display: flex">
                <div class="button-container">
                    <button id="newuser-button-container">
                        <p id="newuser-button-text" ui-sref="login"><strong>Cancel</strong></p>
                    </button>
                </div>
                <div class="button-container">
                        <button id="newuser-button-container" type="submit" ng-click="registerAdmin(user)">
                                <p id="newuser-button-text"><strong>Submit</strong></p>
                                <svg fill="#000000" height="50" viewBox="0 10 24 8" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                    </div>
                    </div>
            </button>
        </div>
    </form>
</div>