/* header css */

.header-outer-shell {
    width: 100vw;
    height: 115px;
    z-index: 7;
    position: absolute;
}

.header-inner-text {
    color: white;
    font-size: 50px;
    top: 10px;
    margin-left: 56px;
    margin-top: 30px;
    transform: scale(1.1, 2.5);
    font-weight: 200;
}




/* login css */

.login-main-container{
    width: 575px;
    height: 550px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    border-radius: 2px;
    margin-left: 110px;
}

.login-signin-container {
    width: 100%;
    height: 65px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.login-form-container {
    margin-top: 42px;
}

.login-signin-text {
    font-size: 40px;
    padding-top: 20px;
    margin: auto;
    font-weight: 300;
    color: white;
}

.login-form-username-container {
    margin-left: 20px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-right: 20px;
    height: 85px;
}

#username-input {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 200;
    height: 55px;;
}

.login-form-username-text {

}

.submit-login {
    width: 94%;
    height: 80px;
    background-color: #4B74FF;
    margin: auto;
    text-align: center;
    position: relative;
    top: 100px;
}

#button-text {
    color: white;
    font-size: 30px;
    padding-top: 12px;
}

.bottom-newuser {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

.signup-container {
    display: flex;
    margin-top: 110px;
    font-weight: 300;
    color: white;
}

/* footer css */

/* .footer-outer-shell {
    width: 100vw;
    height: 60px;
    z-index: 7;
    position: relative;
    background-color: black;
    top: 963px;
} */